body{
    height: 2000px;
}
#diagonal{
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(imf/312919.png);
    border-left: 200px solid white;
    border-top: 700px solid transparent;
    background-attachment: fixed;
}
#box{
    float: left;
    height: 700px;
} 
#outter{
  width: 100%;
  height: 100%;
  display: table;
}
#inner{
    display: table-cell;
vertical-align: middle;
}
#about .content-title h3{
    text-align: left;
}
#about-desc p{
    margin-bottom: 1px;
}